@{
    ViewData["Title"] = "Logout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Sign Out</h3>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">Are you sure you want to sign out?</p>
                    
                    @using (Html.BeginUmbracoForm("Logout", "AccountSurface", FormMethod.Post, new { @class = "d-inline" }))
                    {
                        <button type="submit" class="btn btn-primary">Yes, Sign Out</button>
                    }
                    
                    <a href="/" class="btn btn-outline-secondary ms-2">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>