@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";
    ViewData["Title"] = "Account";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>@Model.Name</h1>
            <p>@Model.Value("description")</p>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-12">
          <ul class="list-group">
                @foreach (var childPage in Model.Children)
                {
                    <li class="list-group-item">
                        <a href="@childPage.Url()">@childPage.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>