<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8bb1467-919d-4a4a-aef3-acc0c0964034" Alias="News List - Show Images - Toggle" Level="1">
  <Info>
    <Name>News List - Show Images - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>