@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="scores-container">
    <h2>Latest Scores</h2>
    <div class="match-list">
        <div class="match">
            <div class="teams">
                <span class="team home">Manchester United</span>
                <span class="score">2 - 1</span>
                <span class="team away">Liverpool</span>
            </div>
            <div class="match-info">Full Time</div>
        </div>
        <div class="match">
            <div class="teams">
                <span class="team home">Arsenal</span>
                <span class="score">3 - 0</span>
                <span class="team away">Tottenham</span>
            </div>
            <div class="match-info">Full Time</div>
        </div>
        <div class="match">
            <div class="teams">
                <span class="team home">Chelsea</span>
                <span class="score">1 - 1</span>
                <span class="team away">Manchester City</span>
            </div>
            <div class="match-info">Full Time</div>
        </div>
    </div>
</div>