<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f72398d-d295-455d-aa63-3ca97a93dcb9" Alias="AI Event" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AIEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>eventDetailPage</ContentType>
    <CreateDate>2025-05-07T19:08:00</CreateDate>
    <NodeName Default="AI Event" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57cc2236-0ed8-46e9-b9fd-c846fb7f55e3">EventDetailPage</Template>
  </Info>
  <Properties>
    <createdDate>
      <Value><![CDATA[2025-05-07T00:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[{
  "markup": "<p>The <strong data-start=\"4\" data-end=\"32\">Dubai AI &amp; Web3 Festival</strong> is a premier global event dedicated to exploring the transformative potential of Artificial Intelligence (AI) and Web3 technologies. Organized by the Dubai AI &amp; Web3 Campus in strategic partnership with the Dubai International Financial Centre (DIFC), this festival underscores Dubai's commitment to positioning itself as a leader in the digital economy.​</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <eventDate>
      <Value><![CDATA[2025-05-30T00:00:00]]></Value>
    </eventDate>
    <image>
      <Value><![CDATA[[
  {
    "key": "6965bec5-2010-4e66-93f3-aec97947105b",
    "mediaKey": "0653e1ee-aba4-43e7-87e9-98636ce7d6e5"
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Dubai]]></Value>
    </location>
    <title>
      <Value><![CDATA[Dubai AI Event]]></Value>
    </title>
  </Properties>
</Content>