<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6ba5607-b470-4bdb-a5ee-43508a79c617" Alias="All Events" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AllEvents</Path>
    <Trashed>false</Trashed>
    <ContentType>eventListingPage</ContentType>
    <CreateDate>2025-05-07T19:24:17</CreateDate>
    <NodeName Default="All Events" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="88e9b65e-7f9c-4c84-9f66-07964dd4ea63">EventListingPage</Template>
  </Info>
  <Properties>
    <pageSize>
      <Value><![CDATA[9]]></Value>
    </pageSize>
  </Properties>
</Content>