<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ff00fdf-9a6d-43d0-bf3c-c18922a6653e" Alias="EventReview" Level="102">
  <Info>
    <Parent Key="faa9a405-edcd-4c2d-92e7-53790cfd158f">Review</Parent>
    <Path>/[-20]/Review/EventReview</Path>
    <Trashed Parent="faa9a405-edcd-4c2d-92e7-53790cfd158f">true</Trashed>
    <ContentType>eventReview</ContentType>
    <CreateDate>2025-05-18T10:58:51</CreateDate>
    <NodeName Default="EventReview" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[ggggg]]></Value>
    </comment>
    <rateStars>
      <Value><![CDATA[5]]></Value>
    </rateStars>
    <reviewerName>
      <Value><![CDATA[Abanoub]]></Value>
    </reviewerName>
  </Properties>
</Content>