<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddd9e666-902d-4a99-ba94-a30016178334" Alias="EventReview" Level="2">
  <Info>
    <Parent Key="5fde782b-8233-48f3-9a60-6b4495757368">Review</Parent>
    <Path>/Review/EventReview</Path>
    <Trashed>false</Trashed>
    <ContentType>eventReview</ContentType>
    <CreateDate>2025-05-18T13:56:11</CreateDate>
    <NodeName Default="EventReview" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[This is Abanoub review]]></Value>
    </comment>
    <rateStars>
      <Value><![CDATA[5]]></Value>
    </rateStars>
    <reviewerName>
      <Value><![CDATA[Abanoub]]></Value>
    </reviewerName>
  </Properties>
</Content>