<?xml version="1.0" encoding="utf-8"?>
<Content Key="90c1881b-ddd8-48c1-874b-c7eb33f6a0f1" Alias="EventSphere" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventSphere</Path>
    <Trashed>false</Trashed>
    <ContentType>accountFolder</ContentType>
    <CreateDate>2025-05-04T14:09:02</CreateDate>
    <NodeName Default="EventSphere" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ff798d7-9217-4d56-9393-2ecc1868e9d5">AccountFolder</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[EventSphere is a dynamic and user-friendly events portal designed to keep you connected with the latest happenings around you. From discovering the newest events through an engaging homepage banner and real-time updates, to browsing through an extensive listing with easy pagination and detailed views—EventSphere offers a seamless experience. With simple login and registration options, users can quickly join and stay updated on all upcoming events, whether for fun, networking, or personal growth.]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[EventSphere]]></Value>
    </metaTitle>
  </Properties>
</Content>