<?xml version="1.0" encoding="utf-8"?>
<Content Key="64917024-b7ae-4fb6-b1a6-008962563c59" Alias="ForgotPassword" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ForgotPassword</Path>
    <Trashed>false</Trashed>
    <ContentType>forgotPasswordPage</ContentType>
    <CreateDate>2025-05-04T21:55:13</CreateDate>
    <NodeName Default="ForgotPassword" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0fcf8a47-6ac8-4d48-9d8b-313c68bf3386">ForgotPasswordPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[ForgotPassword]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[ForgotPassword]]></Value>
    </metaTitle>
  </Properties>
</Content>