<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3307112-7ce4-4189-aabf-ab3ddd4976d9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-05-07T19:05:27</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="881c3a22-85d4-43bc-9a25-fa075c274b60">HomePage</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "19c0a775-4f11-4bd8-adf7-3ccb0e503ea6",
    "mediaKey": "f7408526-3d13-4e0e-868c-524392f0870d"
  }
]]]></Value>
    </banner>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
  </Properties>
</Content>