<?xml version="1.0" encoding="utf-8"?>
<Content Key="c3307112-7ce4-4189-aabf-ab3ddd4976d9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-05-07T19:05:27</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="881c3a22-85d4-43bc-9a25-fa075c274b60">HomePage</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[]]]></Value>
    </banner>
    <bannerBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4048c6fb5a52430fabe144121809b03d"
      }
    ]
  },
  "contentData": [
    {
      "bannerContent": "Discover exciting events and activities happening in your area.",
      "bannerImage": [
        {
          "key": "d80f4857-b9c9-415a-8f77-2be38da7bbe6",
          "mediaKey": "f7408526-3d13-4e0e-868c-524392f0870d"
        }
      ],
      "bannerTitle": "EventSphere",
      "contentTypeKey": "f342436d-8186-413f-98a3-034c6a1284fe",
      "udi": "umb://element/4048c6fb5a52430fabe144121809b03d"
    }
  ],
  "settingsData": []
}]]></Value>
    </bannerBlockList>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
  </Properties>
</Content>