<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ee4834c-4bdc-4b86-8edd-870ba288a05b" Alias="How AI is Changing" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HowAIIsChanging</Path>
    <Trashed>false</Trashed>
    <ContentType>eventDetailPage</ContentType>
    <CreateDate>2025-05-07T20:26:26</CreateDate>
    <NodeName Default="How AI is Changing" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57cc2236-0ed8-46e9-b9fd-c846fb7f55e3">EventDetailPage</Template>
  </Info>
  <Properties>
    <createdDate>
      <Value><![CDATA[2025-05-07T00:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[{
  "markup": "<p>As we approach the end of the year, cred is reflecting on the trends that shaped the events space in 2023, and there’s a very clear takeaway: AI has impacted all facets of the industry. From using AI to streamline and enhance event planning processes to witnessing a massive influx of topics being covered around the technology, let’s examine the effects of artificial intelligence on the industry from all angles.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <eventDate>
      <Value><![CDATA[2025-05-30T00:00:00]]></Value>
    </eventDate>
    <image>
      <Value><![CDATA[[
  {
    "key": "c40df239-6e01-4937-82b4-938f237f5551",
    "mediaKey": "0653e1ee-aba4-43e7-87e9-98636ce7d6e5"
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Monaco]]></Value>
    </location>
    <title>
      <Value><![CDATA[How AI is Changing ]]></Value>
    </title>
  </Properties>
</Content>