<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d6a82bf-4cbc-41ce-8e2a-3bc9d5c03699" Alias="How AI is Changing the Events Industry" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HowAIIsChangingTheEventsIndustry</Path>
    <Trashed>false</Trashed>
    <ContentType>eventDetailPage</ContentType>
    <CreateDate>2025-05-07T20:23:38</CreateDate>
    <NodeName Default="How AI is Changing the Events Industry" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57cc2236-0ed8-46e9-b9fd-c846fb7f55e3">EventDetailPage</Template>
  </Info>
  <Properties>
    <createdDate>
      <Value><![CDATA[2025-05-07T00:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[{
  "markup": "<p>As we approach the end of the year, cred is reflecting on the trends that shaped the events space in 2023, and there’s a very clear takeaway: AI has impacted all facets of the industry. From using AI to streamline and enhance event planning processes to witnessing a massive influx of topics being covered around the technology, let’s examine the effects of artificial intelligence on the industry from all angles.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <eventDate>
      <Value><![CDATA[2025-05-23T00:00:00]]></Value>
    </eventDate>
    <image>
      <Value><![CDATA[[
  {
    "key": "c95463c7-bbe7-4433-bf09-a04de62ec58f",
    "mediaKey": "e9a1b6ad-8e3f-4deb-936e-277d96533dc2"
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[France]]></Value>
    </location>
    <title>
      <Value><![CDATA[How AI is Changing the Events Industry]]></Value>
    </title>
  </Properties>
</Content>