<?xml version="1.0" encoding="utf-8"?>
<Content Key="8be4683f-fbf3-47f3-95cb-4d24a70c2520" Alias="Login" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2025-05-04T20:42:24</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fdb27d86-2272-48d3-8884-ea5a122f6008">LoginPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[Login]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Login]]></Value>
    </metaTitle>
  </Properties>
</Content>