<?xml version="1.0" encoding="utf-8"?>
<Content Key="49e489ad-03f0-413b-837f-7e95484109f7" Alias="Logout" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logout</Path>
    <Trashed>false</Trashed>
    <ContentType>logoutPage</ContentType>
    <CreateDate>2025-05-05T15:33:25</CreateDate>
    <NodeName Default="Logout" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3d475365-a07d-450b-a1eb-1d99c788247f">LogoutPage</Template>
  </Info>
  <Properties />
</Content>