<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ceb17fc-4f20-43c8-848c-8c98c34c1308" Alias="Profile" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Profile</Path>
    <Trashed>false</Trashed>
    <ContentType>profilePage</ContentType>
    <CreateDate>2025-05-05T16:02:24</CreateDate>
    <NodeName Default="Profile" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8bbfe4c7-97e5-40c6-b7e0-3037beed98f5">ProfilePage</Template>
  </Info>
  <Properties />
</Content>