<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf98ae7b-2c01-449b-b516-a2167865f186" Alias="Register" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>registerPage</ContentType>
    <CreateDate>2025-05-04T20:42:46</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="89d8efb5-c4de-4165-a183-47a5f0fcde9a">RegisterPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[Register]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Register]]></Value>
    </metaTitle>
  </Properties>
</Content>