<?xml version="1.0" encoding="utf-8"?>
<Content Key="52c7f3a8-26ba-4589-80d5-1b71aab47b77" Alias="Review for event: eventName" Level="3">
  <Info>
    <Parent Key="ddd9e666-902d-4a99-ba94-a30016178334">EventReview</Parent>
    <Path>/Review/EventReview/ReviewForEventEventName</Path>
    <Trashed>false</Trashed>
    <ContentType>eventReview</ContentType>
    <CreateDate>2025-05-22T12:01:34</CreateDate>
    <NodeName Default="Review for event: eventName" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[kk]]></Value>
    </comment>
    <rateStars>
      <Value><![CDATA[4]]></Value>
    </rateStars>
    <reviewerName>
      <Value><![CDATA[Abanoub]]></Value>
    </reviewerName>
  </Properties>
</Content>