<?xml version="1.0" encoding="utf-8"?>
<Content Key="faa9a405-edcd-4c2d-92e7-53790cfd158f" Alias="Review" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Review</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>eventReview</ContentType>
    <CreateDate>2025-05-18T10:45:25</CreateDate>
    <NodeName Default="Review" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <rateStars>
      <Value><![CDATA[]]></Value>
    </rateStars>
    <reviewerName>
      <Value><![CDATA[]]></Value>
    </reviewerName>
  </Properties>
</Content>