<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fde782b-8233-48f3-9a60-6b4495757368" Alias="Review" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Review</Path>
    <Trashed>false</Trashed>
    <ContentType>eventReview</ContentType>
    <CreateDate>2025-05-18T11:01:54</CreateDate>
    <NodeName Default="Review" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comment>
      <Value><![CDATA[]]></Value>
    </comment>
    <rateStars>
      <Value><![CDATA[]]></Value>
    </rateStars>
    <reviewerName>
      <Value><![CDATA[]]></Value>
    </reviewerName>
  </Properties>
</Content>