<?xml version="1.0" encoding="utf-8"?>
<Content Key="c314e7f4-c3a2-49ad-806e-afc3ddbb1c14" Alias="Sport News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SportNews</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2025-05-08T12:41:10</CreateDate>
    <NodeName Default="Sport News" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f089d0a4-4f06-40ab-a3c1-e0654befb4ac">NewsPage</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1aed45ac887b4a56aa92cec86f8c2c18",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/151be4440b8742e5bb0c531941a9e4e7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "markup": "<p>The Spaniard confirmed his widely anticipated exit in a press conference ahead of Sunday's final home game of the season against Borussia Dortmund, which will now become a send-off for Leverkusen's departing coach.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "contentTypeKey": "810b984e-7b1c-4088-b7e5-0756a3d944e1",
      "featuredImage": [
        {
          "key": "c6f93711-6f4f-4619-9d3d-28d14de43386",
          "mediaKey": "5710d4c1-3ae8-49b1-9c5a-fa6d0fe75cab"
        }
      ],
      "headline": "Xabi Alonso announces Bayer Leverkusen exit at end of season ahead of expected Real Madrid return",
      "linkToFullArticle": "",
      "subheading": "",
      "udi": "umb://element/1aed45ac887b4a56aa92cec86f8c2c18"
    },
    {
      "awayScore": "2",
      "awayTeam": "Barcelona",
      "contentTypeKey": "5a25c882-3f93-44e7-9563-cf1384669730",
      "homeScore": "3",
      "homeTeam": "Real Madrid",
      "matchDate": "2025-05-10T00:00:00",
      "matchStatus": [
        "Finished"
      ],
      "title": " Real Madrid vs Barcelona - El Clasico Showdown",
      "udi": "umb://element/151be4440b8742e5bb0c531941a9e4e7"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
  </Properties>
</Content>