<?xml version="1.0" encoding="utf-8"?>
<Content Key="84f8d917-8d12-454a-ae55-d5cfc977445d" Alias="The Impact of AI on the Future of Live Events: Pros and Cons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TheImpactOfAIOnTheFutureOfLiveEventsProsAndCons</Path>
    <Trashed>false</Trashed>
    <ContentType>eventDetailPage</ContentType>
    <CreateDate>2025-05-07T19:50:23</CreateDate>
    <NodeName Default="The Impact of AI on the Future of Live Events: Pros and Cons" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57cc2236-0ed8-46e9-b9fd-c846fb7f55e3">EventDetailPage</Template>
  </Info>
  <Properties>
    <createdDate>
      <Value><![CDATA[2025-05-07T00:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[{
  "markup": "<p>AI-powered algorithms can analyze vast amounts of data to gain insights into attendees' preferences and behaviors. This enables event organizers to personalize content, recommendations, and interactions, resulting in more engaging and tailored experiences for participants.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <eventDate>
      <Value><![CDATA[2025-05-22T00:00:00]]></Value>
    </eventDate>
    <image>
      <Value><![CDATA[[
  {
    "key": "ac45892c-416a-4f85-9e65-003c7e13e973",
    "mediaKey": "e88d4058-93c5-4faa-bd91-c947062c8123"
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Madrid ]]></Value>
    </location>
    <title>
      <Value><![CDATA[The Impact of AI on the Future of Live Events: Pros and Cons]]></Value>
    </title>
  </Properties>
</Content>