<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf66dd71-a8aa-4244-8e48-66cb7fff0a83" Alias="The Future of AI" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TheFutureOfAI</Path>
    <Trashed>false</Trashed>
    <ContentType>eventDetailPage</ContentType>
    <CreateDate>2025-05-07T19:48:31</CreateDate>
    <NodeName Default="The Future of AI" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57cc2236-0ed8-46e9-b9fd-c846fb7f55e3">EventDetailPage</Template>
  </Info>
  <Properties>
    <createdDate>
      <Value><![CDATA[2025-05-07T00:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[{
  "markup": "<p>In today’s fast-paced business landscape, seizing innovation opportunities and translating them into tangible business growth is essential. As a business leader, you need to harness the true power of AI and stay ahead of the competition.</p>\n<p>Join us at “<strong>The Future of Artificial Intelligence</strong>” event, where we’ll delve into the latest trends, applications, and growth opportunities that AI has to offer. This event provides a unique opportunity to connect and engage with like-minded experts and leaders from the AI and entrepreneurship landscape, fostering valuable discussions and networking to fuel innovation.</p>\n<p>“The Future of Artificial Intelligence” is co-hosted by JDI ONE with Singapore Chamber Of Commerce Vietnam (SCCV) and Singapore Global Network (SGN)</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <eventDate>
      <Value><![CDATA[2025-05-29T00:00:00]]></Value>
    </eventDate>
    <image>
      <Value><![CDATA[[
  {
    "key": "0ada750d-b153-4858-8159-575c3a374c76",
    "mediaKey": "5ac54dd7-d72e-4cc0-ae39-40ac972f4401"
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[The Sentry C | Ho Chi Minh City | Vietnam]]></Value>
    </location>
    <title>
      <Value><![CDATA[Title]]></Value>
    </title>
  </Properties>
</Content>