<?xml version="1.0" encoding="utf-8"?>
<Content Key="0405a764-f66b-4a2a-80c9-0b7f20c2db04" Alias="The Rise of AI in Event" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TheRiseOfAIInEvent</Path>
    <Trashed>false</Trashed>
    <ContentType>eventDetailPage</ContentType>
    <CreateDate>2025-05-07T20:30:01</CreateDate>
    <NodeName Default="The Rise of AI in Event" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57cc2236-0ed8-46e9-b9fd-c846fb7f55e3">EventDetailPage</Template>
  </Info>
  <Properties>
    <createdDate>
      <Value><![CDATA[2025-05-07T00:00:00]]></Value>
    </createdDate>
    <description>
      <Value><![CDATA[{
  "markup": "<p>The landscape of event management is undergoing a remarkable transformation. AI is not just an emerging trend; it’s revolutionizing the industry from automated logistics to dynamic scheduling. AI emerges as the secret weapon for corporations running conferences, making every gathering more efficient, engaging, and memorable. With the integration of AI, event planners can leverage data analytics, machine learning algorithms, and automated systems to optimize every aspect of event planning, from conceptualization to execution. This enhances the planning process’s efficiency and ensures a more engaging and personalized experience for attendees.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </description>
    <eventDate>
      <Value><![CDATA[2025-05-26T00:00:00]]></Value>
    </eventDate>
    <image>
      <Value><![CDATA[[
  {
    "key": "be869138-cc9a-45de-a2aa-2120b4bc578d",
    "mediaKey": "82cfd3fe-bb06-467e-8e2f-4e546d865c6e"
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Madrid ]]></Value>
    </location>
    <title>
      <Value><![CDATA[The Rise of AI in Event ]]></Value>
    </title>
  </Properties>
</Content>