<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ac54dd7-d72e-4cc0-ae39-40ac972f4401" Alias="AI Event Banner Article 1 1536X768" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AIEventBannerArticle11536X768</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-07T19:45:51</CreateDate>
    <NodeName Default="AI Event Banner Article 1 1536X768" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0fgnkwro/ai-event-banner_article-1-1536x768.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>