<?xml version="1.0" encoding="utf-8"?>
<Media Key="e88d4058-93c5-4faa-bd91-c947062c8123" Alias="Ai Live Event Production 480X480" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AiLiveEventProduction480X480</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-07T19:50:07</CreateDate>
    <NodeName Default="Ai Live Event Production 480X480" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lzai10gf/ai-live-event-production_480x480.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>