<?xml version="1.0" encoding="utf-8"?>
<Media Key="5710d4c1-3ae8-49b1-9c5a-fa6d0fe75cab" Alias="Download" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-10T17:32:33</CreateDate>
    <NodeName Default="Download" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y5kbav5i/download.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>