<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7408526-3d13-4e0e-868c-524392f0870d" Alias="Event Sphere Vibrant Connections Unleashed" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventSphereVibrantConnectionsUnleashed</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-07T20:09:40</CreateDate>
    <NodeName Default="Event Sphere Vibrant Connections Unleashed" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eccfb3yt/event-sphere_-vibrant-connections-unleashed.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>