<?xml version="1.0" encoding="utf-8"?>
<Media Key="82cfd3fe-bb06-467e-8e2f-4e546d865c6e" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-07T20:29:18</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5djn5aqg/images.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>