<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9a1b6ad-8e3f-4deb-936e-277d96533dc2" Alias="Screen+Shot+2023 11 13+At+9.44.52+AM+ +Stephanie+Brown" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ScreenplusShotplus20231113plusAtplus94452plusAMplusPlusStephanieplusBrown</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-07T20:21:34</CreateDate>
    <NodeName Default="Screen+Shot+2023 11 13+At+9.44.52+AM+ +Stephanie+Brown" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vo1kd0j5/screenplusshotplus2023-11-13plusatplus94452plusamplus-plusstephanieplusbrown.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>