<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95646249-559e-4622-ab05-0144d8453fbb" Alias="accountFolder" Level="1">
  <Info>
    <Name>Account Folder</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c47a91cc-7725-405e-9db4-84b215feda3e">accountBasePage</Composition>
    </Compositions>
    <DefaultTemplate>AccountFolder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5ff798d7-9217-4d56-9393-2ecc1868e9d5">AccountFolder</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>