<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d03a423-568a-4b16-8571-8d1d8b2f4d0e" Alias="eventListingPage" Level="1">
  <Info>
    <Name>Event Listing Page</Name>
    <Icon>icon-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>EventListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="88e9b65e-7f9c-4c84-9f66-07964dd4ea63">EventListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a157726d-5ebb-46a3-8a1c-6a2f4dee49da" SortOrder="0">eventDetailPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3ff26bcc-816c-4f2b-a178-da7c925da1f4</Key>
      <Name>Page Size</Name>
      <Alias>pageSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pagination">Pagination</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>73bf82fb-5cb7-44d7-bee3-a20007582dd6</Key>
      <Caption>Pagination</Caption>
      <Alias>pagination</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>