<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0323d2a5-b53e-4d1a-ab67-4e21e1b039bb" Alias="forgotPasswordPage" Level="1">
  <Info>
    <Name>Forgot Password Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c47a91cc-7725-405e-9db4-84b215feda3e">accountBasePage</Composition>
    </Compositions>
    <DefaultTemplate>ForgotPasswordPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0fcf8a47-6ac8-4d48-9d8b-313c68bf3386">ForgotPasswordPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>