<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1e5adaa8-1175-4ff0-bd01-c2e2686fc59f" Alias="logoutPage" Level="1">
  <Info>
    <Name>Logout page</Name>
    <Icon>icon-logout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LogoutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3d475365-a07d-450b-a1eb-1d99c788247f">LogoutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>