<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed31b694-ec67-47eb-9e8f-5c6e09fb87bd" Alias="newsPage" Level="1">
  <Info>
    <Name>News Page</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>NewsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f089d0a4-4f06-40ab-a3c1-e0654befb4ac">NewsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>99b54bb5-b4c8-4087-a83f-1c6a17fc1d24</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>bde4fb79-4dfc-4bde-a68e-122d13fb3fa1</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add and arrange content blocks for this news page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9181eb77-fdde-4ac3-9051-496a01227225</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>