<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a467a27a-e90b-41d9-97d5-cd8d6dc14894" Alias="resetPasswordPage" Level="1">
  <Info>
    <Name>Reset Password Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="c47a91cc-7725-405e-9db4-84b215feda3e">accountBasePage</Composition>
    </Compositions>
    <DefaultTemplate>ResetPasswordPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="64af0cc6-6ef8-40b4-a943-2ae9fd109fe3">ResetPasswordPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>